* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIAVEIS */
:root {
  --cor0: #ffffff;
  --cor1: #d9d9d9;
  --cor2: #909090;
  --cor3: #222222;
  --cor4: #dd3030;
  --cor5: #a2a2a2;
  --cor6: #7c7c7c;
  --cor7: #646464;
  --cor8: #6b6b6b;
}

/* GERAL */

html {
  font-size: 62.5%;
}

body {
  width: 100%;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 4.5em;
  color: var(--cor0);
  line-height: 50px;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 6em;
  color: var(--cor3);
}

h3 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 3em;
  color: var(--cor0);
  line-height: 40px;
}

h4 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: var(--cor3);
  line-height: 30px;
}

h5 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 1.6em;
  color: var(--cor0);
}

h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: var(--cor4);
}

button {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 1.6em;
  color: var(--cor0);
  background-color: var(--cor4);
  width: 195px;
  height: 43px;
  border: none;
  cursor: pointer;
}

a {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 1.6em;
  color: var(--cor2);
  text-decoration: none;
}

p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: var(--cor7);
  line-height: normal;
}

.titles {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.titles .title {
  background-color: var(--cor4);
  color: var(--cor0);
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 22px;
  padding: 0 16px 0 15px;
  margin-right: 15px;
}

/* CONTAINER DA PAGINA */
.container-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  height: 100%;
  background-color: var(--cor0);
  box-sizing: border-box;
}

/* HEADER */

header {
  width: 1560px;
  height: 171px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.header-nav-container {
  width: 1560px;
  height: 171px;
  position: relative;
}

.logo-search {
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 844px;
  height: 27px;
}

.logo > img {
  width: 127px;
  height: 27px;
}

.logo-search .search-c {
  display: flex;
  align-items: center;
}

.logo-search .search-c > label {
  display: flex;
  align-items: center;
  width: 63px;
  height: 21px;
}

.search-c > label > iconify-icon {
  font-size: 16px;
  margin-right: 7px;
  margin-top: 4px;
  color: var(--cor4);
}

.search-c > label > input {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  border: none;
  background-color: transparent;
}

.search-c > label input::placeholder {
  color: var(--cor4);
}

.search-c .language {
  display: flex;
  align-items: center;
  margin-left: 35px;
}

.search-c .language > p {
  color: var(--cor4);
  margin-right: 8px;
}

.search-c .language > iconify-icon {
  color: var(--cor4);
}

.header-menu-nav {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1560px;
  height: 68px;
  margin-top: 103px;
  border-top: 1px solid var(--cor8);
  border-bottom: 1px solid var(--cor8);
}

.header-menu-nav > nav > ul {
  display: flex;
  width: 1560px;
  height: 68px;
  justify-content: space-between;
  align-items: center;
}

.header-menu-nav > nav > ul > li {
  list-style: none;
}

.header-menu-nav > nav > ul > li > a {
  color: var(--cor2);
}

.header-menu-nav > nav > ul > li > a:hover {
  color: var(--cor4);
}

/* HERO */

.hero {
  width: 1560px;
  height: 21px;
  margin-bottom: 51px;
}
.hero > p {
  font-size: 1.4em;
}

/* ARTICLE */

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1560px;
  height: 2602px;
  margin-bottom: 105px;
}

.article-container {
  width: 1044px;
  height: 2602px;
}

.article-container > span {
  margin-bottom: 36px;
}
.article-container > h1 {
  margin-bottom: 34px;
  color: var(--cor3);
}

.person {
  display: flex;
  align-items: center;
  height: 37.07px;
  margin-bottom: 64.93px;
}
.person > img {
  margin-right: 16.1px;
  width: 36.4px;
  height: 37.07px;
}
.person > h6 {
  margin-right: 54px;
}
.person > iconify-icon {
  margin-right: 12px;
  font-size: 19px;
}
.person > p {
  margin-right: 21px;
  font-size: 14px;
}

.article-img {
  width: 1044px;
  height: 678px;
  background-color: var(--cor1);
  margin-bottom: 73px;
}

.the-win {
  display: flex;
  position: relative;
  width: 1044px;
  height: 258px;
  align-items: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.the-win > h2 {
  font-size: 30px;
  margin-left: 42px;
  font-weight: 600;
}
.the-win > iconify-icon {
  font-size: 42px;
  color: rgba(221, 48, 48, 0.3);
  z-index: -1;
}

.quote-left {
  position: absolute;
  top: 70px;
  left: 16px;
}
.quote-right {
  position: absolute;
  bottom: 95px;
  right: 31px;
}

.speaking {
  display: flex;
  width: 1044px;
  height: 660px;
  justify-content: space-between;
  align-items: center;
}

.speaking-text {
  width: 491px;
  height: 660px;
}

.speaking-img {
  width: 484px;
  height: 652px;
  background-color: var(--cor1);
}

.the-victory {
  width: 1044px;
  margin-top: 100px;
}
.the-victory > p {
  margin-bottom: 36px;
  width: 1044px;
}
.the-victory > h6 {
  color: var(--cor2);
  width: 1044px;
  font-size: 1.6em;
  font-weight: 600;
  font-style: italic;
}

.news-aside {
  width: 440px;
}

.follow-us {
  width: 440px;
  height: 223px;
  margin-bottom: 72px;
}
.follow-us > h6 {
  margin-bottom: 55px;
  font-size: 2em;
  color: var(--cor3);
}

.social-c {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 61px;
}
.social > div > p {
  color: var(--cor0);
  font-size: 1.6em;
}
.social > div > h6 {
  color: var(--cor2);
  font-size: 1em;
}
.social > iconify-icon {
  font-size: 32px;
  color: var(--cor0);
  margin-right: 20px;
}

.facebook {
  background-color: #3d64ef;
}
.twitter {
  background-color: #339edb;
}
.instagram {
  background-color: #c32cab;
}
.linkedin {
  background-color: #2a6495;
}

.popular-news {
  width: 440px;
  height: 888px;
  margin-bottom: 72px;
}
.popular-news > h6 {
  margin-bottom: 55px;
  font-size: 2em;
  color: var(--cor3);
}

.popular-n-c-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 127px;
  margin-bottom: 42px;
}

.p-n-text {
  width: 279px;
  height: 127px;
}
.p-n-text > h6 {
  margin-bottom: 15px;
}

.p-img {
  width: 138px;
  height: 127px;
  background-color: var(--cor1);
}

.popular-n-c-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 127px;
  margin-bottom: 42px;
}

.popular-n-c-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 127px;
  margin-bottom: 42px;
}

.popular-n-c-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 127px;
  margin-bottom: 42px;
}

.popular-n-c-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 127px;
}

.dont-mis {
  width: 440px;
}
.dont-mis > h6 {
  margin-bottom: 55px;
  font-size: 2em;
  color: var(--cor3);
}

.dont-n-text-1 {
  width: 440px;
  height: 68px;
  margin-bottom: 29px;
}

.dont-n-text-1 > h6 {
  margin-bottom: 17px;
}

.dont-mis > button {
  width: 440px;
  margin-top: 48px;
}

/* COMMENT */

.comment {
  display: flex;
  justify-content: space-between;
  width: 1560px;
  height: 673px;
  margin-bottom: 105px;
  padding: 77px 117px;
  background-color: var(--cor3);
}

.comment-text > p {
  margin-bottom: 33px;
  color: var(--cor0);
}
.comment-text > h6 {
  margin-bottom: 57px;
  color: var(--cor0);
}

.plus {
  display: flex;
  align-items: center;
}
.plus > iconify-icon {
  font-size: 11px;
  color: var(--cor0);
  margin-right: 7px;
}
.plus > p {
  font-size: 14px;
  color: var(--cor0);
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.comment-form > input {
  width: 494px;
  height: 58px;
  margin-bottom: 23px;
  padding: 14px 32px;
  background-color: transparent;
  border: 1px solid var(--cor0);
  font-size: 2em;
}
.comment-form > textarea {
  width: 494px;
  height: 233px;
  margin-bottom: 23px;
  padding: 14px 32px;
  background-color: transparent;
  border: 1px solid var(--cor0);
  font-size: 2em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.comment-form > button {
  width: 238px;
  height: 58px;
  color: var(--cor3);
  background-color: var(--cor0);
}

/* SUBSCRIBE */

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1920px;
  height: 354px;
  background-color: var(--cor2);
  padding: 127px 168px;
}
.subscribe > p {
  font-size: 45px;
  font-weight: 600;
  color: var(--cor0);
}

.subscribe-c > label {
  width: 524px;
  height: 43px;
  display: flex;
  align-items: center;
  font-size: 22px;
  margin-bottom: 11px;
  color: var(--cor0);
  position: relative;
}

.subscribe-c > label > iconify-icon {
  font-size: 22px;
  color: var(--cor0);
  position: absolute;
  left: 28px;
  top: 11px;
}

.subscribe-c > label > input {
  width: 522px;
  height: 43px;
  background-color: transparent;
  border: 1px solid var(--cor0);
  text-align: center;
}

.subscribe-c > button {
  width: 522px;
  height: 43px;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 682px;
  background-color: var(--cor3);
  position: relative;
}

footer > img {
  position: absolute;
  width: 338px;
  height: 338px;
  bottom: 0;
  left: 0;
}

footer > p {
  color: var(--cor0);
  font-size: 1.4em;
  font-weight: 400;
  text-align: end;
  margin: 0px 180px 0px 180px;
  border-top: 1px solid var(--cor1);
  padding-top: 34px;
}

.footer-c {
  width: 1567px;
  margin: 131px 180px 0px 180px;
  justify-content: space-between;
}

.footer-news {
  display: flex;
  margin-bottom: 105px;
}

.quick-link {
  width: 467px;
  height: 312;
  margin-right: 129px;
}

.quick-link > h5 {
  margin-bottom: 47px;
}

.nav-links > nav {
  display: flex;
  justify-content: space-between;
}

.nav-links > nav > ul {
  height: 241px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

.nav-links > nav > ul li > a {
  font-weight: 600;
  font-size: 1.4em;
}

.photo-and-video {
  width: 287px;
  height: 346px;
  margin-right: 115px;
}

.photo-and-video > h5 {
  margin-bottom: 47px;
}

.pt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 9px;
  margin-bottom: 55px;
}

.pt-img {
  width: 65px;
  height: 65px;
  background-color: var(--cor0);
}

.vd {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9px;
}

.vd-video {
  width: 139px;
  height: 78px;
  background-color: var(--cor0);
}

.footer-popular-news {
  width: 204px;
  height: 364px;
  margin-right: 115px;
}

.footer-popular-news > h5 {
  margin-bottom: 47px;
}

.footer-news1,
.footer-news2 {
  margin-bottom: 37px;
}

.footer-news1 > h6,
.footer-news2 > h6,
.footer-news3 > h6 {
  margin-bottom: 4px;
  color: var(--cor1);
}

.footer-news1 > h4,
.footer-news2 > h4,
.footer-news3 > h4 {
  color: var(--cor0);
  font-size: 1.6em;
  font-weight: 600;
  line-height: normal;
}

.footer-social {
  width: 243px;
  height: 91px;
}

.footer-social > h5 {
  margin-bottom: 36px;
}

.social-icons {
  width: 243px;
  display: flex;
  justify-content: space-between;
}

.social-icons > iconify-icon {
  font-size: 32px;
  color: var(--cor0);
}
